html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: Helvetica, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


body {
  margin: 0;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}


a {
  color: inherit;
  text-decoration: inherit;
}

*{
  list-style: none;
  margin: 0;
  padding: 0;
}
img,
video {
  max-width: 100%;
  height: auto;
}



@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media (min-width: 768px) {
  .md\:block {
    display: block;
  }

  .md\:grid {
    display: grid;
  }

  .md\:hidden {
    display: none;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:place-items-center {
    place-items: center;
  }
}

@media (min-width: 1024px) {
  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

/* about */
.about img {
  width:50%;
  height:auto;
}

/* new */
.about {text-align:center;}
.about h1, .page h1 {position:absolute;top:-1000px;left:-1000px;font-size:0.1}
.home-logo{
  width:500px;
  height: 130px;        
  position:absolute;
  left:0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
nav .logo {
  position:fixed;
  top:0;
  left:0;
  width:10%;
  padding:20px;
}
nav .logo img{
  width:100%;
  height:auto;
}
nav ul{
  width:10%;
  position:fixed;
  left:0;
  bottom:0;
  padding:20px;
}
nav ul li a{
  clear:both;
  display:block;
  line-height:2em;
  font-size:1.5em;
}
.prose {
  text-align:center;
  margin:auto 0;
}
.works-list {
  width:80%;
  margin:0 auto;
}
.works-list img {
  width:50%;
}
.info {
  font-size:3em;
  font-weight:200;
  line-height:1.5em;
  width:80%;
  margin:0 auto;
  padding:48px 0;
}
footer {
  text-align:center;
  padding:24px 0;
}
